[global]
   workgroup = WORKGROUP
   server string = Xiaomi NAS
   netbios name = XIAOMI-NAS

   disable spoolss = yes
   load printers = no
   printing = bsd
   printcap name = /dev/null

   unix extensions = no
   allow insecure wide links = no
   follow symlinks = no
   wide links = no

   security = user
   map to guest = Bad User
   passdb backend = tdbsam

   interfaces = $SAMBA_IFACE
   bind interfaces only = yes

   hosts allow = $LAN_SUBNET 127.0.0.1
   hosts deny = 0.0.0.0/0

   restrict anonymous = 2
   map to guest = Bad User

   smb ports = 139 445

   server min protocol = NT1
   server max protocol = NT1
   client min protocol = NT1
   client max protocol = NT1

   ntlm auth = yes
   lanman auth = yes
   client lanman auth = yes
   client ntlmv2 auth = no

   socket options = TCP_NODELAY IPTOS_LOWDELAY
   use sendfile = yes
   aio read size = 1
   aio write size = 1

   local master = yes
   preferred master = yes
   os level = 255
   domain master = no
   wins support = yes
   dns proxy = no

   logging = stdout
   log level = 1 auth:3
   log file = /var/log/samba/log.samba
   max log size = 1000

[recordings]
   path = /srv/samba/recordings
   browseable = yes
   writeable = yes
   read only = no
   guest ok = no
   valid users = xiaomi
   force user = xiaomi
   force group = xiaomi
   create mask = 0777
   directory mask = 0777